@import "tailwindcss";

@theme {
  --font-display: 'Inter', 'sans-serif';
}

@layer utilities {
  .anim-gradient {
    background: linear-gradient(-45deg, #eff6ff, #e0e7ff, #fdf4ff, #f0f9ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  .glass-effect {
    @apply bg-white/60 backdrop-blur-xl border border-white/40 shadow-xl;
  }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  @apply antialiased text-gray-800 bg-gray-50;
  font-family: 'Inter', sans-serif;
}
